:root {
  --light-bg: #eaeefd;
  --dark-bg: #493c65;
  --dark-form-bg: #210856;
  --primary-text-dark: #fbf9ff;
  --text-dark: #b8bcd2;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg);
  height: 100vh;
}

.main {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
  border-radius: 20px;
}

.illustration {
  flex-grow: 1;
  background-image: url("assets/dark.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.form-header a {
  color: var(--primary-text-dark);
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  background-color: var(--dark-form-bg);
  color: var(--text-dark);
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.form-buttons button {
  margin: 0 5px;
}

.form-buttons button:first-child {
  flex: 1;
}

.form-buttons button span {
  font-size: 10px;
}

form {
  display: flex;
  flex-direction: column;
  border-top: solid 1px var(--dark-bg);
  border-bottom: solid 1px var(--dark-bg);
  padding: 20px 0;
}

h3 {
  font-weight: bold;
  color: var(--primary-text-dark);
  margin: 0;
}

p {
  font-size: small;
}

input {
  color: var(--text-dark);
  margin: 10px 0;
  border: none;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--dark-bg);
}

button {
  border-radius: 8px;
  padding: 12px;
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in;
}

button:hover {
  transform: scale(0.96);
}

button[type="submit"] {
  margin-top: 10px;
  background-image: linear-gradient(to right, #ff4f61, #ff715b);
  color: var(--primary-text-dark);
}
